<html><body><table>
    <tr>
      {% comment %}   <th>Campo</th>
        <th>Dato</th> {% endcomment %}
    
    </tr>
    <tr>
        <td>Nombre</td>
        <td>{{nombre}}</td>
    
    </tr>
    <tr>
        <td>Telefono</td>
        <td>{{telefono}}</td>

    </tr>
    <tr>
        <td>Lugar destino</td>
        <td>{{lugar_destino}}</td>

    </tr>
    <tr>
        <td>Lugar recogida</td>
        <td>{{lugar_recogida}}</td>
    
    </tr>
    <tr>
        <td>Empresa</td>
        <td>{{empresa}}</td>
    
    </tr>
    <tr>
        <td>Tipo de transporte</td>
        <td>{{tipo_transporte}}</td>
    
    </tr>
    <tr>
        <td>Correo</td>
        <td>{{email}}</td>
    
    </tr>
        <tr>
        <td>Asunto</td>
        <td>{{subject}}</td>
    
    </tr>

    <tr>
        <td>Tipo de requerimiento</td>
        <td>{{buzon}}</td>
    
    </tr>

    <tr>
        <td>Fecha de servicio</td>
        <td>{{fecha_servicio}}</td>
    
    </tr>

    <tr>
        <td>Cantidad de pasajeros</td>
        <td>{{cantidad_pasajeros}}</td>
    
    </tr>

    <tr>
        <td>Peso (kg)</td>
        <td>{{peso}}</td>
    
    </tr>
    <tr>
    <h1>

        Mensaje del cliente:
    </h1>
</tr>
<p>

    {{mensaje|linebreaks}}
</p>
    
    </table>
    </body></html>